.input {
    @extend .text;

    width: 100%;
    padding: 0 16px;
    height: 40px;
    background: var(--color-additional-first);
    outline: none;
    border: 1px solid var(--color-additional-first);
    border-radius: var(--radius);

    &:focus {
        border: 1px solid var(--color-elem-first);
    }

    @include placeholder {
        font-size: 14px;
        line-height: 1.2;
        color: var(--color-additional-first);
    }
}
