.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 40px;
    overflow: hidden;

    &__logo {
        max-width: 100%;
        height: auto;
    }

    &__feed {
        @extend .main;
        align-items: flex-start;
        gap: 16px;
    }
}
