.round-button {
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 100%;
    background: var(--color-elem-first);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    width: 44px;
    height: 44px;
    z-index: 99;

    img {
        max-width: 24px;
        height: auto;
    }

    &_top {
        bottom: auto;
        top: 20px;
    }

    &_left {
        right: auto;
        left: 20px;
    }

    &:hover {
        background: var(--color-elem-first-hover);
    }
}
